<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBnAg8m7lw6P_pQgJlP0BJVbZieircUhY</string>
	<key>GCM_SENDER_ID</key>
	<string>837708744200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.jobayedsumon.redlove</string>
	<key>PROJECT_ID</key>
	<string>redlove-c8037</string>
	<key>STORAGE_BUCKET</key>
	<string>redlove-c8037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837708744200:ios:332bdb48282c41596a33bd</string>
</dict>
</plist>